.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding-top: 108px;
  background: #ffffff;
  font-family: "Rubik", Helvetica, Arial, sans-serif;
  color: #000000;
  line-height: 1.2;
}

#bar {
  position: absolute;
  left: calc((100vw - 1200px) / 2);
  bottom: 165px;
  z-index: 20;
}

.y-header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 80;
  &__top {
    display: block;
    position: relative;
    padding: 15px 0;
    background: #ffffff;
    & > .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__main {
    display: block;
    position: relative;
    padding: 0;
    background: #232d68;
    & > .container {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }
  }
  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        padding: 6px 16px 6px 0;
        color: #232d68;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
    }
  }
  &__right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
  }
  &__phone {
    display: inline-block;
    margin: 6px 16px 6px 0;
    color: #232d68;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-flex;
    align-items: center;
    padding: 11px 30px 11px 20px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    img,
    svg {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 12px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    width: 140px;
    height: 135px;
    margin-left: -70px;
    border-radius: 0 0 30px 30px;
    background-color: #f5f6fb;
    z-index: 81;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #ffffff;
      text-decoration: none;
    }
  }
  &__menu {
    display: inline-block;
    position: relative;
    z-index: 82;
    &:hover {
      & > ul {
        display: block;
      }
    }
  }
  &__toggle {
    display: inline-flex;
    align-items: center;
    position: relative;
    padding: 10px 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 10px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__ul {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
    & > li {
      display: block;
      width: 100%;
      &:hover {
        & > a {
          background-color: #f0f0f0;
          color: #232d68;
        }
        & > a:before {
          filter: none;
        }
        & > ul {
          display: block;
        }
      }
      &:first-child {
        & > a {
          border-radius: 15px 15px 0 0;
        }
      }
      &:last-child {
        & > a {
          border-radius: 0 0 15px 15px;
        }
      }
      & > a {
        display: flex;
        align-items: center;
        position: relative;
        padding: 20px 30px 20px 20px;
        color: #858585;
        font-size: 16px;
        font-weight: 500;
        img,
        svg {
          display: inline-block;
          width: 50px;
          height: 40px;
          object-fit: scale-down;
          object-position: left center;
        }
        &:before {
          display: block;
          position: absolute;
          content: "";
          top: 50%;
          right: 20px;
          width: 8px;
          height: 9px;
          margin-top: -4px;
          background: url("../images/icon_arrow_right_small.png") no-repeat center center;
          background-size: contain;
          filter: grayscale(1);
          transition: all 0.2s ease-out;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          background-color: #f0f0f0;
          color: #232d68;
          text-decoration: none;
        }
      }
    }
  }
  &__subul {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    width: 550px;
    margin: 0;
    padding: 30px 40px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
    li {
      display: inline-block;
      a {
        display: inline-block;
        width: 230px;
        margin: 9px 0;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
    }
  }
  &__link {
    display: inline-block;
    position: relative;
    &-wrap {
      display: inline-flex;
      align-items: center;
      padding: 6px 0 6px 45px;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      img,
      svg {
        display: inline-block;
        max-width: 22px;
        max-height: 22px;
        margin-right: 10px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
  &__search {
    display: inline-block;
    position: relative;
    margin-right: 165px;
    img,
    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 0;
      max-width: 16px;
      max-height: 16px;
      margin-top: -8px;
      transition: all 0.2s ease-out;
    }
    input {
      display: inline-block;
      width: 100%;
      max-width: 100px;
      padding: 4px 4px 4px 30px;
      border: 0;
      outline: none;
      background-color: #232d68;
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      transition: all 0.2s ease-out;
      &::placeholder {
        color: #ffffff;
      }
      &:focus {
        max-width: 280px;
        background: #ffffff;
        color: #000000;
        font-size: 14px;
        font-weight: 400;
        & ~ img,
        & ~ svg {
          left: 5px;
          filter: brightness(0);
          opacity: 0.5;
        }
        &::placeholder {
          color: #9b9b9b;
        }
      }
    }
  }
  &-basket {
    display: none;
    position: absolute;
    top: 100%;
    right: -20px;
    width: 430px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
    &__title {
      display: block;
      position: relative;
      width: 100%;
      padding: 0 0 14px 0;
      border-bottom: 2px solid #a2d109;
      color: #232d68;
      font-size: 22px;
      font-weight: 500;
    }
    &__cards {
      display: block;
      position: relative;
      width: 100%;
      height: 360px;
      margin-bottom: 20px;
      padding-bottom: 15px;
      overflow-y: auto;
    }
    &__close {
      display: block;
      position: absolute;
      top: 24px;
      right: 20px;
      max-width: 15px;
      z-index: 2;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #232d68;
      font-size: 22px;
      font-weight: 400;
      b,
      strong {
        font-weight: 500;
      }
    }
    &__button {
      display: inline-block;
      padding: 11px 26px;
      box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
      border-radius: 999rem;
      background-color: #a2d109;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #cbe280;
        color: #000000;
        text-decoration: none;
      }
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      &_gradient {
        &:after {
          display: block;
          position: absolute;
          content: "";
          bottom: 100%;
          left: 0;
          width: 100%;
          height: 78px;
          margin-bottom: 20px;
          background-image: linear-gradient(to top, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
          pointer-events: none;
          z-index: 3;
        }
      }
    }
    &-card {
      display: flex;
      align-items: stretch;
      position: relative;
      width: 100%;
      max-width: 365px;
      padding: 20px 0;
      border-bottom: 1px solid #9b9b9b;
      /* Chrome, Safari, Edge, Opera */
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
      &__image {
        display: inline-block;
        flex: 0 0 130px;
        height: 85px;
        border-radius: 5px;
        background-position: center center;
        background-size: cover;
      }
      &__content {
        display: inline-block;
        position: relative;
        flex: 1 1 auto;
        padding-left: 15px;
      }
      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
      }
      &__title {
        display: block;
        max-width: 180px;
        margin: 0 0 16px 0;
        color: #000000;
        font-size: 14px;
        font-weight: 500;
      }
      &__delete {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        max-width: 20px;
        z-index: 2;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
      &__oldprice {
        display: block;
        margin: 0 0 2px 0;
        color: #9b9b9b;
        font-size: 12px;
        font-weight: 400;
        text-decoration: line-through;
      }
      &__price {
        display: block;
        margin: 0;
        color: #232d68;
        font-size: 14px;
        font-weight: 500;
      }
      &__counter {
        display: flex;
        align-items: stretch;
      }
      &__input {
        display: inline-block;
        position: relative;
        max-width: 40px;
        border: 0;
        border-top: 1px solid #9b9b9b;
        border-bottom: 1px solid #9b9b9b;
        padding: 6px 2px;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
      &__minus,
      &__plus {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 35px;
        height: 35px;
        border-radius: 2px 0 0 2px;
        border: 1px solid #9b9b9b;
        background-color: #ffffff;
        img,
        svg {
          display: block;
          max-width: 16px;
          max-height: 16px;
          transition: all 0.2s ease-out;
        }
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          img,
          svg {
            filter: brightness(0) invert(1);
          }
          background: #232d68;
          color: #ffffff;
          text-decoration: none;
        }
      }
    }
  }
}

.y-home-top {
  display: block;
  position: relative;
  .swiper-slide {
    width: 100% !important;
  }
  &-card {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    &__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: flex-start;
      position: relative;
      width: 45%;
      min-height: calc(100vh - 108px);
      padding: 100px 100px 210px calc((100vw - 1200px) / 2);
      background-color: #abd63d;
    }
    &__image {
      display: block;
      position: relative;
      width: 55%;
      min-height: 100%;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 0;
      color: #232d68;
      font-size: 60px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: 25px 0 0 0;
      color: #000000;
      font-size: 20px;
      font-weight: 400;
    }
    &__button {
      display: inline-block;
      margin: 60px 0 0 0;
      padding: 15px 35px;
      box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
      border-radius: 25px;
      background-color: #232d68;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #4f5a99;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    top: auto;
    bottom: 165px;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: calc((100vw - 1200px) / 2 + 100px);
  }
  .swiper-button-next {
    right: auto;
    left: calc((100vw - 1200px) / 2 + 160px);
  }
  .swiper-pagination-fraction {
    width: auto !important;
    left: calc((100vw - 1200px) / 2 + 8px);
    bottom: 178px;
    color: #000000;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -2px;
  }
}

.y-home-what {
  display: block;
  position: relative;
  padding: 110px 0;
  background: #f5f6fb url("../images/home_what.jpg") no-repeat center center;
  &__content {
    display: block;
    position: relative;
    padding-left: 55px;
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.y-home-our {
  display: block;
  position: relative;
  padding: 80px 0 90px 0;
  background: #ffffff url("../images/home_our_bg.png") no-repeat center top 60px;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }
  &__text {
    display: block;
    margin: 0 0 60px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 570px;
    min-height: 500px;
    margin: 0 auto 20px auto;
    padding: 45px 50px;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 15px;
    background-size: cover;
    background-position: 0 0;
    &__title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 30px 0 0 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
    }
    &_dark {
      .y-home-our-card__title {
        color: #232d68;
      }
      .y-home-our-card__text {
        color: #232d68;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      box-shadow: none;
      transform: translateY(-5px);
      text-decoration: none;
    }
  }
}

.y-home-features {
  display: block;
  position: relative;
  margin: 90px 0 0 0;
  &__image {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 95px;
    height: 95px;
    border-radius: 999rem;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    background-color: #232d68;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    margin-left: -20px;
  }
  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.y-home-many {
  display: block;
  position: relative;
  padding: 80px 0;
  background: #f8f7f2 url("../images/home_many.jpg") no-repeat center center;
  &__content {
    display: block;
    position: relative;
    padding-left: 55px;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    margin-top: 50px;
    padding: 16px 42px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-home-customers {
  display: block;
  position: relative;
  padding: 100px 0 150px 0;
  background: #ffffff url("../images/home_customers_bg.png") no-repeat center top 35px;
  &_about {
    background: #ffffff url("../images/about_home_customers_bg.png") no-repeat center top 90px;
  }
  &__title {
    display: block;
    margin: 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
    text-align: center;
  }
  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 234px;
    height: 90px;
    margin: 80px auto 0 auto;
    img,
    svg {
      display: block;
      max-width: 100%;
      max-width: 100%;
    }
  }
}

.y-home-about {
  display: flex;
  align-items: stretch;
  position: relative;
  background-color: #f5f6fb;
  &__content {
    display: block;
    position: relative;
    width: 60%;
    padding: 80px 45px 80px calc((100vw - 1200px) / 2);
  }
  &__image {
    display: block;
    position: relative;
    width: 40%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__subtitle {
    display: block;
    margin: 70px 0 30px 0;
    color: #232d68;
    font-size: 24px;
    font-weight: 500;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  &-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 180px;
    margin: 40px auto 0 auto;
    text-align: center;
    &__text {
      display: block;
      margin: 20px 0 0 0;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
  }
}

.y-home-seo {
  display: block;
  position: relative;
  padding: 70px 0 40px 0;
  background: #ebeff3 url("../images/home_about_2.jpg") no-repeat left center;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    margin-top: 50px;
    padding: 16px 42px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-footer {
  display: block;
  position: relative;
  padding: 50px 0 25px 0;
  background-color: #232d68;
  &__logo {
    display: block;
    margin: 0 0 30px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__subtitle {
    display: block;
    margin: 10px 0 2px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
  &__social {
    display: flex;
    align-items: center;
    position: relative;
    margin: 25px 0 0 0;
    img,
    svg {
      display: inline-block;
      max-width: 26px;
      max-height: 26px;
      margin-right: 15px;
    }
    a {
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
  &__link {
    display: block;
    margin: 0;
    color: #a2d109;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 40px 0 0 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      margin: 0;
      a {
        display: block;
        margin: 0 0 16px 0;
        color: #ffffff;
        font-size: 14px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
    }
  }
  &_fix {
    margin-left: -30px;
  }
}

.y-bottom {
  display: block;
  position: relative;
  padding: 12px 0;
  background-color: #abd63d;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__info {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__creators {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    img,
    svg {
      display: inline-block;
      max-width: 26px;
      max-height: 26px;
      margin-right: 10px;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.y-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 0.8);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 25px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__1 {
    display: block;
  }
  &__2 {
    display: none;
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    padding: 40px 50px 50px 50px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }
  &__label {
    display: block;
    margin: 0 0 6px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
  }
  &__link {
    display: block;
    margin: 7px 0;
    color: #232d68;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #232d68;
      text-decoration: none;
    }
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 18px 0;
    padding: 16px 20px;
    border: 1px solid #9b9b9b;
    outline: none;
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #232d68;
    }
  }
  &__button {
    display: inline-block;
    padding: 16px 80px;
    border: 0;
    outline: none;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 999rem;
    background-color: #232d68;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #4f5a99;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__tabs {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding-bottom: 40px;
  }
  &__tab {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50%;
    padding: 11px;
    border: 1px solid #a2d109;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    &:first-child {
      border-radius: 999rem 0 0 999rem;
    }
    &:last-child {
      border-radius: 0 999rem 999rem 0;
    }
    &_active {
      background: #a2d109;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-search {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;
  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(255, 255, 255, 1);
  }
  &__close {
    display: block;
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 20px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 30px 0;
    padding: 40px 20px 20px 20px;
    border-radius: 15px;
    background-color: #ffffff;
  }
  &__title {
    display: block;
    margin: 0 0 35px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
    text-align: center;
  }
  &__search {
    display: block;
    position: relative;
    width: 100%;
    img,
    svg {
      display: block;
      position: absolute;
      top: 50%;
      left: 14px;
      max-width: 16px;
      max-height: 16px;
      margin-top: -8px;
      pointer-events: none;
      z-index: 3;
    }
  }
  input {
    display: block;
    width: 100%;
    margin: 0 0 25px 0;
    padding: 16px 20px 16px 40px;
    border: 1px solid #9b9b9b;
    outline: none;
    border-radius: 2px;
    background: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;
    &:focus {
      border-color: #232d68;
    }
  }
  &__button {
    display: inline-block;
    width: 100%;
    padding: 17px;
    border: 0;
    outline: none;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 999rem;
    background-color: #232d68;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #4f5a99;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.simplebar-track.simplebar-vertical {
  width: 2px;
  background: #f5f6fb;
}

.simplebar-scrollbar:before {
  left: 0;
  right: auto;
  width: 100%;
  border-radius: 0;
  background: #232d68;
  opacity: 1;
}

.y-mob-header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232d68;
  z-index: 80;
  & > .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 48px;
    &-counter {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 8px;
      right: 16px;
      width: 18px;
      height: 18px;
      overflow: hidden;
      box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
      border-radius: 999rem;
      background-color: #a2d109;
      color: #232d68;
      font-size: 12px;
      font-weight: 400;
      line-height: 1;
      text-align: center;
      z-index: 5;
    }
    img,
    svg {
      display: block;
      max-width: 22px;
      max-height: 22px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__logo {
    display: inline-block;
    min-width: 106px;
    z-index: 85;
    &_scrolled {
      img,
      svg {
        margin-top: -65px;
      }
    }
    img,
    svg {
      display: block;
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 106px;
      max-height: 106px;
      margin-left: -53px;
      z-index: 2;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -55px;
    left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 999rem;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    background-color: #232d68;
    z-index: 3;
    img,
    svg {
      display: block;
      max-width: 22px;
      max-height: 22px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__call {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -55px;
    right: 15px;
    width: 50px;
    height: 50px;
    border-radius: 999rem;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    background-color: #a2d109;
    z-index: 3;
    img,
    svg {
      display: block;
      max-width: 22px;
      max-height: 22px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
}

.y-mob-drop {
  display: none;
  position: fixed;
  top: 48px;
  left: 0;
  width: 100%;
  height: calc(100vh - 48px);
  padding: 75px 15px 15px 15px;
  background: #ffffff;
  z-index: 82;
  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 52px;
    left: 15px;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 999rem;
    background-color: #232d68;
    z-index: 5;
    img,
    svg {
      display: block;
      max-width: 22px;
      max-height: 22px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  &__link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto 55px auto;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    img,
    svg {
      display: block;
      max-width: 22px;
      max-height: 22px;
      margin-bottom: 10px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: block;
      a {
        display: block;
        margin: 30px 0 0 0;
        color: #232d68;
        font-size: 20px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
    }
  }
}

.y-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 45px 0 20px 0;
  list-style: none;
  z-index: 11;
  li {
    display: inline-block;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    img,
    svg {
      display: block;
      max-width: 32px;
      max-height: 32px;
      margin: -2px 10px 0 10px;
    }
    a {
      color: #9b9b9b;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
}

.y-page-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  &__title {
    display: inline-block;
    margin: 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
  }
  &__select {
    display: inline-block;
    select {
      width: 275px;
      padding: 11px 17px;
      border: 0;
      outline: none;
      border-radius: 2px;
      border: 1px solid #9b9b9b;
      -webkit-appearance: none;
      background: #ffffff url("../images/icon_select_arrow.png") no-repeat right 10px center;
      color: #000000;
      font-size: 14px;
      font-weight: 400;
    }
  }
  &__search {
    display: inline-flex;
    align-items: stretch;
    position: relative;
    flex: 1 1 auto;
    input {
      display: inline-block;
      flex: 1 1 auto;
      margin: 0 30px;
      padding: 15px 20px;
      border: 0;
      outline: none;
      border-radius: 2px;
      border: 1px solid #9b9b9b;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      &::-webkit-search-cancel-button {
        position: relative;
        -webkit-appearance: none;
        height: 14px;
        width: 14px;
        background: url("../images/icon_search_delete.png") no-repeat center center;
        background-size: contain;
      }
    }
    button {
      display: inline-block;
      padding: 16px 60px;
      border: 0;
      outline: none;
      box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
      border-radius: 25px;
      background-color: #232d68;
      color: #ffffff;
      font-size: 14px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        background-color: #4f5a99;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.y-aside {
  display: block;
  position: relative;
  width: 100%;
  max-width: 270px;
  margin: 0 auto 20px auto;
  &__hide {
    position: relative;
    width: 100%;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    padding-bottom: 14px;
    border-bottom: 2px solid #a2d109;
    color: #232d68;
    font-size: 22px;
    font-weight: 500;
  }
  &__nav {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 30px 0;
    list-style: none;
    & > li {
      display: block;
      position: relative;
      & > a {
        display: block;
        position: relative;
        margin: 0 0 25px 0;
        color: #9b9b9b;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
        &:focus {
          color: #000000;
        }
      }
    }
  }
  &__drop {
    display: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 10px 20px;
    list-style: none;
    border-radius: 2px;
    background-color: #f5f6fb;
    li {
      display: block;
      position: relative;
      a {
        display: block;
        position: relative;
        margin: 0;
        padding: 10px 0;
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;
        &:hover {
          color: #a2d109;
          text-decoration: none;
        }
      }
    }
  }
  &__subtitle {
    display: block;
    margin: 50px 0 0 0;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
  }
  &__subtext {
    display: inline-block;
    margin: 0;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
  }
  &__input {
    display: block;
    width: 100%;
    max-width: 100px;
    padding: 9px;
    border-radius: 2px;
    border: 1px solid #9b9b9b;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  &__checkbox {
    display: block;
    margin: 0 0 25px 0;
    & > div {
      display: block;
      padding: 0 0 0 25px;
      background: url("../images/icon_checkbox.png") no-repeat 0 2px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat 0 2px;
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 15px 0;
  }
  &__button {
    display: inline-block;
    padding: 11px 52px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    border: 0;
    outline: none;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
  &__link {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
}

.y-catalog-card {
  display: block;
  position: relative;
  width: 100%;
  max-width: 270px;
  margin: 0 auto 30px auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: #ffffff;
  &__image {
    display: block;
    width: 100%;
    height: 170px;
    border-radius: 15px 15px 0 0;
    background-position: center center;
    background-size: cover;
  }
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 190px;
    padding: 20px 20px 15px 20px;
  }
  &__subcontent {
    flex: 1 1 auto;
    overflow: hidden;
  }
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-out;
  }
  &__text {
    margin: 0 0 10px 0;
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
    -webkit-line-clamp: 6; /* Число отображаемых строк */
    line-clamp: 6;
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
    transition: all 0.2s ease-out;
  }
  &__oldprice {
    display: block;
    margin: 0 0 2px 0;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
    text-decoration: line-through;
    transition: all 0.2s ease-out;
  }
  &__price {
    display: block;
    margin: 0;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.2s ease-out;
  }
  &__like {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 18px;
    height: 18px;
    background: url("../images/icon_like.png") no-repeat center center;
    z-index: 5;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
    &_liked {
      background: url("../images/icon_liked.png") no-repeat center center !important;
    }
  }
  &__info {
    display: block;
    position: absolute;
    left: 0;
    top: 35px;
    padding: 4px 10px;
    background-color: #ffe30e;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    z-index: 4;
    transition: all 0.2s ease-out;
  }
  &__basket {
    display: inline-flex;
    align-items: center;
    position: relative;
    color: #a2d109;
    font-size: 16px;
    font-weight: 500;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 6px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
    width: 100%;
    padding-top: 12px;
    /* &:before {
      display: block;
      position: absolute;
      content: "";
      bottom: 100%;
      left: 0;
      width: 100%;
      height: 30px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      z-index: 2;
      pointer-events: none;
      transition: all 0.2s ease-out;
    } */
  }
  cursor: pointer;
  text-decoration: none;
  &:hover,
  &:focus {
    .y-catalog-card__title {
      color: #ffffff;
    }
    .y-catalog-card__text {
      color: #ffffff;
    }
    .y-catalog-card__oldprice {
      color: #ffffff;
    }
    .y-catalog-card__price {
      color: #ffffff;
    }
    .y-catalog-card__row:before {
      background: linear-gradient(0deg, rgba(35, 45, 104, 1) 0%, rgba(255, 255, 255, 0) 100%) !important;
    }
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.4);
    background-color: #232d68;
    color: #ffffff;
    text-decoration: none;
  }
}

.y-tags {
  display: block;
  padding: 60px 0 40px 0;
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
  &-card {
    display: inline-block;
    margin: 0 20px 20px 0;
    padding: 10px 24px;
    border-radius: 999rem;
    background-color: #f5f6fb;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #232d68;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.y-seo {
  display: block;
  position: relative;
  padding: 90px 0 50px 0;
  background: #ebeff3 url("../images/seo_bg_1.png") no-repeat left top;
  background-size: auto 100%;
  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 25px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    margin-top: 50px;
    padding: 16px 42px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-pagination {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 25px 0 65px 0;
  li {
    display: inline-block;
    a {
      display: inline-block;
      padding: 5px 10px;
      color: #9b9b9b;
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-top: -3px;
    }
  }
  &_active {
    color: #232d68 !important;
    a {
      color: #232d68 !important;
    }
  }
  &_disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
  }
}

.y-opt {
  display: block;
  position: relative;
  margin-top: -81px;
  padding: 85px 0 120px 0;
  background-color: #f5f6fb;
  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc((100vw - 1200px) / 2 + 670px);
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    position: relative;
    margin: 0 0 75px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
  }
  &__subtitle {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    margin-top: 45px;
    padding: 16px 35px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-opt-features {
  display: block;
  position: relative;
  padding: 40px 0 90px 0;
  background-color: #232d68;
  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  &-card {
    display: block;
    width: 100%;
    max-width: 230px;
    margin: 0 auto 30px auto;
    &__image {
      display: block;
      width: 100%;
      height: 85px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}

.y-opt-goods {
  display: block;
  position: relative;
  width: 100%;
  padding: 0;
  background: url("../images/opt_goods_bg.png") no-repeat center top 35px;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    min-height: 360px;
    margin: -40px auto 70px auto;
    padding: 20px 30px 20px 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 190px;
      img,
      svg {
        display: block;
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #232d68;
      font-size: 24px;
      font-weight: 500;
      transition: all 0.2s ease-out;
    }
    &__text {
      display: block;
      margin: 0;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      .y-opt-goods-card__text {
        color: #000000;
      }
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
      background-color: #abd63d;
      text-decoration: none;
    }
  }
}

.y-opt-many {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 80px 0 60px 0;
  background-color: #f8f7f2;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    left: calc((100vw - 1200px) / 2 - 60px);
    width: 606px;
    height: 341px;
    background: url("../images/opt_seo_1.png") no-repeat center top;
    background-size: contain;
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.y-opt-why {
  display: block;
  position: relative;
  padding: 90px 0 0 0;
  &-card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 90px auto;
    &__image {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 95px;
      width: 95px;
      height: 95px;
      border-radius: 999rem;
      box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
      background-color: #232d68;
      img,
      svg {
        display: block;
        max-width: 52px;
        max-height: 52px;
      }
    }
    &__title {
      display: block;
      margin: 0 0 0 30px;
      color: #232d68;
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.y-opt-article {
  display: block;
  position: relative;
  padding: 80px 0;
  background-color: #f5f6fb;
  &__image {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: calc((100vw - 1200px) / 2 + 400px);
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 15px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 30px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__subtitle {
    display: block;
    margin: 0 0 10px 0;
    color: #232d68;
    font-size: 24px;
    font-weight: 500;
  }
  ol {
    display: block;
    position: relative;
    margin: 0;
    padding: 0 0 10px 0;
    list-style: none;
    counter-reset: my-awesome-counter;
    li {
      display: block;
      position: relative;
      counter-increment: my-awesome-counter;
      padding: 0 0 20px 45px;
      &:before {
        display: block;
        position: absolute;
        content: "0" counter(my-awesome-counter);
        left: 0;
        top: -5px;
        color: #abd63d;
        font-size: 24px;
        font-weight: 500;
      }
    }
  }
}

.y-pay {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0;
  background-color: #f5f6fb;
  &__image {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: calc((100vw - 1200px) / 2 + 400px);
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.y-pay-cards {
  display: block;
  position: relative;
  padding: 60px 0;
  ul {
    display: block;
    margin: 0 0 30px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      padding: 0 0 0 30px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 5px;
        left: 14px;
        width: 7px;
        height: 7px;
        border-radius: 999rem;
        background-color: #a2d109;
      }
    }
  }
  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 35px 0;
    padding: 0 0 10px 0;
    border-bottom: 2px solid #a2d109;
    color: #232d68;
    font-size: 21px;
    font-weight: 500;
  }
  &-card {
    display: block;
    position: relative;
    margin: 0 0 30px 0;
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid #9b9b9b;
      color: #000000;
      font-size: 16px;
      font-weight: 500;
    }
    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 20px 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.y-pay-seo {
  display: block;
  position: relative;
  padding: 60px 0 30px 0;
  background-color: #f5f6fb;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100vw - 1200px) / 2 + 400px);
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0 0 20px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
  b,
  strong {
    font-weight: 500;
  }
  ul {
    display: block;
    margin: 0 0 20px 0;
    padding: 0;
    list-style: none;
    li {
      display: block;
      position: relative;
      margin: 0 0 20px 0;
      padding: 0 0 0 30px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      &:before {
        display: block;
        position: absolute;
        content: "";
        top: 6px;
        left: 14px;
        width: 7px;
        height: 7px;
        border-radius: 999rem;
        background-color: #a2d109;
      }
    }
  }
}

.y-about {
  display: block;
  position: relative;
  margin-top: -81px;
  padding: 200px 0;
  background-color: #f5f6fb;
  &__image {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: calc((100vw - 1200px) / 2 + 700px);
    height: 100%;
    background-position: center center;
    background-size: cover;
  }
  &__title {
    display: block;
    margin: 0 0 30px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
  }
  &__text {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.y-about-seo {
  display: block;
  position: relative;
  padding: 120px 0;
  background: url("../images/about_bg.jpg") no-repeat center center;
  background-size: cover;
  img,
  svg {
    display: block;
    max-width: 100%;
  }
  &__text {
    display: block;
    margin: 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
  }
  &__button {
    display: inline-block;
    margin: 50px 0 0 0;
    padding: 16px 35px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-about-info {
  display: block;
  position: relative;
  padding: 70px 0 20px 0;
  background-color: #abd63d;
  &-card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 30px 0;
    &__number {
      display: block;
      margin: 0 0 10px 0;
      color: #232d68;
      font-size: 50px;
      font-weight: 700;
    }
    &__text {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-transform: uppercase;
    }
  }
}

.y-good {
  display: block;
  position: relative;
  &__image {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    height: 365px;
    margin: 0 auto 20px auto;
    background-position: center center;
    background-size: cover;
  }
  &__info {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 30px;
    padding: 4px 10px;
    background-color: #ffe30e;
    color: #232d68;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
  &__title {
    display: block;
    min-height: 129px;
    margin: 0;
    color: #232d68;
    font-size: 36px;
    font-weight: 500;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 25px 0 0 0;
  }
  &__have {
    display: inline-block;
    width: 100%;
    max-width: 200px;
    color: #a2d109;
    font-size: 16px;
    font-weight: 500;
  }
  &__like {
    display: inline-flex;
    align-items: center;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
    img,
    svg {
      display: inline-block;
      max-width: 22px;
      max-height: 22px;
      margin-right: 12px;
    }
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__checkbox {
    display: inline-block;
    margin: 4px 30px 4px 0;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        opacity: 1;
        color: #232d68;
        text-decoration: underline;
      }
    }
    & > div {
      display: inline-block;
      opacity: 0.5;
      color: #232d68;
      font-size: 16px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        opacity: 1;
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
  &__oldprice {
    display: inline-block;
    margin: 0 25px 0 0;
    color: #9b9b9b;
    font-size: 22px;
    font-weight: 400;
    text-decoration: line-through;
  }
  &__price {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-size: 30px;
    font-weight: 400;
  }
  &__button {
    display: inline-flex;
    align-items: center;
    margin-left: 25px;
    padding: 16px 55px 16px 25px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    background-color: #232d68;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    img,
    svg {
      display: inline-block;
      max-width: 18px;
      max-height: 18px;
      margin-right: 25px;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #4f5a99;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__counter {
    display: inline-flex;
    align-items: stretch;
    position: relative;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }
  }
  &__input {
    display: inline-block;
    position: relative;
    max-width: 75px;
    margin: 0;
    border: 0;
    outline: none;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    padding: 6px 2px;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }
  &__minus,
  &__plus {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0;
    border-radius: 2px 0 0 2px;
    border: 1px solid #9b9b9b;
    background-color: #ffffff;
    img,
    svg {
      display: block;
      max-width: 16px;
      max-height: 16px;
      transition: all 0.2s ease-out;
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      img,
      svg {
        filter: brightness(0) invert(1);
      }
      background: #232d68;
      color: #ffffff;
      text-decoration: none;
    }
  }
}

.y-tabs {
  display: block;
  position: relative;
  width: 100%;
  padding: 40px 0 20px 0;
  &__header {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #9b9b9b;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 75px;
      margin-bottom: -2px;
      padding: 7px 0;
      border-bottom: 3px solid transparent;
      color: #9b9b9b;
      font-size: 22px;
      font-weight: 500;
      &.current {
        border-color: #a2d109;
        color: #232d68;
        opacity: 1;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  &__content {
    display: none;
    position: relative;
    width: 100%;
    padding: 30px 0 10px 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    p {
      margin: 0 0 20px 0;
    }
    &.current {
      display: block;
    }
  }
}

.y-more {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 20px 0;
  &__title {
    display: block;
    position: relative;
    margin: 0 0 25px 0;
    color: #232d68;
    font-size: 32px;
    font-weight: 500;
  }
  .swiper-button-next,
  .swiper-button-prev {
    bottom: auto;
    top: 50%;
    outline: none;
    transform: none;
    &:before,
    &:after {
      display: none;
    }
  }
  .swiper-button-prev {
    left: auto;
    right: 60px;
  }
  .swiper-button-next {
    left: auto;
    right: 5px;
  }
}

.y-basket {
  display: block;
  position: relative;
  width: 100%;
  &__header {
    display: block;
    position: relative;
    padding: 0 0 20px 0;
    color: #9b9b9b;
    font-size: 14px;
    font-weight: 400;
  }
  &__info {
    display: block;
    padding: 10px 0 20px 0;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding-bottom: 80px;
  }
  &__input {
    display: inline-block;
    max-width: 280px;
    padding: 14px 20px;
    border-radius: 2px;
    border: 1px solid #9b9b9b;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 16px 43px;
    border: 0;
    outline: none;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 25px;
    background-color: #232d68;
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #4f5a99;
      color: #ffffff;
      text-decoration: none;
    }
  }
  &__finish {
    display: inline-block;
    margin: 0 0 0 45px;
    padding: 16px 35px;
    border: 0;
    outline: none;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
  &__price {
    display: inline-block;
    margin: 0;
    color: #232d68;
    font-size: 22px;
    b,
    strong {
      font-weight: 500;
    }
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    background-color: #ffffff;
    &__oldprice {
      display: none;
      position: relative;
      margin: 0 0 4px 0;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
      line-height: normal;
      text-decoration: line-through;
    }
    &__image {
      display: block;
      width: 100%;
      min-height: 150px;
      height: 100%;
      border-radius: 15px 0 0 15px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      margin: 0 0 10px 0;
      color: #232d68;
      font-size: 16px;
      font-weight: 500;
    }
    &__text {
      display: block;
      margin: 0;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
    }
    &__price {
      display: inline-block;
      margin: 0;
      color: #232d68;
      font-size: 16px;
      font-weight: 500;
    }
    &__delete {
      display: block;
      position: absolute;
      top: 50%;
      right: 30px;
      margin-top: -10px;
      z-index: 5;
      img,
      svg {
        display: block;
        max-width: 19px;
        max-height: 19px;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        text-decoration: none;
      }
    }
    &__counter {
      display: inline-flex;
      align-items: stretch;
      position: relative;
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      /* Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
    }
    &__input {
      display: inline-block;
      position: relative;
      width: 75px;
      margin: 0;
      border: 0;
      outline: none;
      border-top: 1px solid #9b9b9b;
      border-bottom: 1px solid #9b9b9b;
      padding: 6px 2px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    &__minus,
    &__plus {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 35px;
      height: 35px;
      margin: 0;
      border-radius: 2px 0 0 2px;
      border: 1px solid #9b9b9b;
      background-color: #ffffff;
      img,
      svg {
        display: block;
        max-width: 16px;
        max-height: 16px;
        transition: all 0.2s ease-out;
      }
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        img,
        svg {
          filter: brightness(0) invert(1);
        }
        background: #232d68;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.y-swiper {
  display: block;
  position: relative;
  width: calc(100% + 40px);
  margin-left: -20px;
  padding: 15px 20px 25px 20px;
}

.y-order {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 100px;
  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 14px 0;
    border-bottom: 2px solid #a2d109;
    color: #232d68;
    font-size: 22px;
    font-weight: 500;
    &_margin {
      margin: 30px 0 20px 0;
    }
  }
  &__content {
    display: block;
    position: relative;
    width: 100%;
    max-width: 510px;
  }
  &__link {
    display: inline-block;
    margin: 0;
    color: #232d68;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__label {
    display: block;
    margin: 18px 0 4px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    span,
    b,
    strong {
      color: #a2d109;
    }
  }
  &__input {
    display: block;
    width: 100%;
    padding: 15px 20px;
    border-radius: 2px;
    border: 1px solid #9b9b9b;
  }
  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
  }
  &__checkbox {
    display: block;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_checkbox_checked.png") no-repeat 0 2px !important;
      }
    }
    & > div {
      display: block;
      position: relative;
      margin-top: 20px;
      padding: 0 0 0 22px;
      background: url("../images/icon_checkbox.png") no-repeat 0 2px;
    }
    &-title {
      display: block;
      margin: 0;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
    &-text {
      display: block;
      margin: 2px 0 0 0;
      color: #9b9b9b;
      font-size: 12px;
      font-weight: 400;
    }
  }
  &__radio {
    display: block;
    input {
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;
      &:checked ~ div {
        background: url("../images/icon_radio_checked.png") no-repeat 0 11px !important;
      }
    }
    & > div {
      display: block;
      position: relative;
      padding: 10px 0 10px 22px;
      background: url("../images/icon_radio.png") no-repeat 0 11px;
      color: #000000;
      font-size: 16px;
      font-weight: 400;
    }
  }
  &__info {
    display: block;
    position: relative;
    margin: 0;
    padding: 10px 0 0 0;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
  }
  &__subinfo {
    display: block;
    margin: 14px 0 0 0;
    color: #9b9b9b;
    font-size: 12px;
    font-weight: 400;
  }
  &__button {
    display: inline-block;
    margin: 20px 0 0 0;
    padding: 15px 47px;
    border: 0;
    outline: none;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

.y-list {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  background-color: #ffffff;
  &__title {
    display: block;
    position: relative;
    width: 100%;
    padding: 0 0 14px 0;
    border-bottom: 2px solid #a2d109;
    color: #232d68;
    font-size: 22px;
    font-weight: 500;
  }
  &-card {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 0;
    &__image {
      display: block;
      position: relative;
      width: 90px;
      height: 50px;
      border-radius: 5px;
      background-position: center center;
      background-size: cover;
    }
    &__title {
      display: block;
      position: relative;
      margin: 0 0 0 30px;
      color: #000000;
      font-size: 14px;
      font-weight: 500;
    }
    &__info {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      color: #232d68;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
    &__price {
      display: block;
      position: relative;
      width: 100%;
      margin: 0;
      color: #232d68;
      font-size: 14px;
      font-weight: 500;
      text-align: right;
    }
  }
  &__wrapper {
    display: block;
    position: relative;
    width: 100%;
    padding: 20px 0;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
  }
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 8px 0;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    b,
    strong {
      color: #232d68;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__price {
    display: block;
    position: relative;
    width: 100%;
    padding: 22px 0 0 0;
    color: #232d68;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    b,
    strong {
      font-weight: 500;
    }
  }
}

.y-contacts {
  display: block;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: -81px;
  padding: 95px 0 80px 0;
  background-color: #f5f6fb;
  &__title {
    display: block;
    margin: 0 0 10px 0;
    color: #232d68;
    font-size: 38px;
    font-weight: 500;
  }
  &__what {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
  }
  &__label {
    display: block;
    margin: 28px 0 8px 0;
    color: #9b9b9b;
    font-size: 16px;
    font-weight: 400;
  }
  &__info {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    a {
      color: #000000;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;
      &:hover {
        color: #a2d109;
        text-decoration: none;
      }
    }
  }
  &__phone {
    display: block;
    margin: 0;
    color: #000000;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__link {
    display: block;
    margin: 35px 0 45px 0;
    color: #232d68;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;
    &:hover {
      color: #a2d109;
      text-decoration: none;
    }
  }
  &__button {
    display: inline-block;
    padding: 13px 40px;
    box-shadow: 0 4px 10px rgba(162, 209, 9, 0.4);
    border-radius: 999rem;
    background-color: #a2d109;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      background-color: #cbe280;
      color: #000000;
      text-decoration: none;
    }
  }
}

#map {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: calc((100vw - 1200px) / 2 + 700px);
  height: 100%;
  z-index: 5;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
  .y-home-customers__cards {
    .swiper-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
    }
    .swiper-slide {
      display: inline-block;
      width: auto;
    }
  }
  .y-home-customers-card {
    width: 234px;
  }
}

@media (max-width: 1199px) {
  body {
    padding-top: 48px;
  }
  .y-header {
    display: none;
  }
  .y-mob-header {
    display: block;
  }
  .y-home-top-card__content {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .y-home-top-card__image {
    width: 100%;
    height: 275px;
    order: -1;
  }
  .y-home-top-card__title {
    max-height: 96px;
    overflow: hidden;
    margin-bottom: 10px;
    color: #232d68;
    font-size: 40px;
    font-weight: 700;
  }
  .y-home-top-card__text {
    max-height: 57px;
    overflow: hidden;
    margin: 0;
    font-size: 16px;
  }
  .y-home-top-card__button {
    margin-top: 12px;
  }
  .y-home-top-card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
  }
  .y-home-what__title {
    margin-bottom: 15px;
    color: #232d68;
    font-size: 30px;
    font-weight: 500;
  }
  .y-home-top-card__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    min-height: auto;
    padding: 20px 15px 80px 15px;
  }
  .y-home-top .swiper-pagination-fraction {
    display: none;
  }
  .y-home-top .swiper-button-next {
    bottom: 20px;
    right: auto;
    left: 50%;
    margin: 0 0 0 15px;
  }
  .y-home-top .swiper-button-prev {
    bottom: 20px;
    left: auto;
    right: 50%;
    margin: 0 15px 0 0;
  }
  .y-home-what {
    padding: 290px 0 60px 0;
    background: #f5f6fb url("../images/home_what_mob.png") no-repeat right top 20px;
    &__content {
      padding: 0;
      text-align: center;
    }
  }
  .y-home-many {
    padding: 275px 0 60px 0;
    background: #f8f7f2 url("../images/mob_many_bg.png") no-repeat right top;
    text-align: center;
  }
  .y-home-what__text {
    font-size: 16px;
  }
  .y-home-our {
    padding: 40px 0 30px 0;
    &__title {
      margin-bottom: 10px;
      font-size: 26px;
    }
    &__text {
      margin-bottom: 40px;
      font-size: 14px;
    }
  }
  .y-home-our-card {
    max-width: 280px;
    min-height: 420px;
    margin: 0 auto 20px auto;
    padding: 10px 20px;
    box-shadow: 0 4px 20px rgba(35, 45, 104, 0.3);
    border-radius: 15px;
    &__text {
      margin-top: 20px;
      font-size: 16px;
    }
    &_1 {
      background: url("../images/mob_home_our_1.jpg") no-repeat center center !important;
      background-size: cover !important;
    }
    &_2 {
      background: url("../images/mob_home_our_2.jpg") no-repeat center center !important;
      background-size: cover !important;
    }
  }
  .y-home-features {
    margin: 40px auto 0 auto;
    text-align: center;
  }
  .y-home-features__content {
    margin: 16px 0;
  }
  .y-home-many__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .y-home-many__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .y-home-many__button {
    width: 100%;
    margin: 0;
  }
  .y-home-customers {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 45px 0;
    &__cards {
      width: 100%;
      overflow: visible !important;
      /* .swiper-slide {
        width: auto !important;
      } */
    }
    &__title {
      margin-bottom: 25px;
      font-size: 26px;
    }
  }
  .y-home-customers-card {
    display: flex;
    width: 180px;
    margin: 0 auto;
  }
  .y-home-about {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    text-align: center;
    &__content {
      width: 100%;
      margin: 0;
      padding: 30px 15px 40px 15px;
    }
  }
  .y-home-about__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .y-home-about__text {
    margin-bottom: 35px;
    font-size: 14px;
  }
  .y-home-about__subtitle {
    margin: 0 0 20px 0;
    font-size: 20px;
  }
  .y-home-about-card {
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 275px;
    margin: 20px 0;
    text-align: left;
  }
  .y-home-about-card__text {
    margin: 0 0 0 20px;
    br {
      display: none;
    }
  }
  .y-home-seo {
    padding: 320px 0 20px 0;
    background: #ebeff3 url("../images/mob_home_seo_bg.jpg") no-repeat center top;
  }
  .y-home-seo__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .y-footer {
    padding: 40px 0 50px 0;
  }
  .y-footer_fix {
    margin-left: 0;
  }
  .y-footer__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 45px;
  }
  .y-footer__mob {
    padding-top: 40px;
  }
  .y-footer__nav {
    display: none;
    margin-top: 20px;
    padding-bottom: 20px;
  }
  .y-footer__link {
    position: relative;
    margin: -1px 0 0 0;
    padding: 26px 20px 26px 0;
    border-top: 1px solid #5f69a6;
    border-bottom: 1px solid #5f69a6;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 11px;
      height: 7px;
      margin-top: -5px;
      background: url("../images/icon_arrow_dropdown.png") no-repeat center center;
      z-index: 3;
      transition: all 0.2s ease-out;
    }
    &_active {
      border-bottom-color: transparent;
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .y-bottom {
    padding: 40px 0;
    &__info {
      margin-bottom: 40px;
    }
  }
  .y-modal__content {
    padding: 45px 20px 20px 20px;
  }
  .y-modal__tab {
    font-size: 12px;
  }
  .y-modal__row {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .y-modal__button {
    width: 100%;
    margin-top: 30px;
  }
  .y-footer__hide {
    display: none;
  }
  .y-breadcrumps {
    display: none;
  }
  .y-page-header__select {
    display: block;
  }
  .y-page-header__title {
    display: block;
    padding: 80px 0 0 0;
    font-size: 30px;
    text-align: center;
  }
  .y-aside {
    max-width: 600px;
    margin-bottom: 50px;
  }
  .y-aside__hide {
    display: none;
  }
  .y-catalog-card {
    margin-bottom: 20px;
  }
  .y-aside__title {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
    &:after {
      display: block;
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      width: 11px;
      height: 11px;
      margin-top: -11px;
      background: url("../images/icon_arrow_drop_green.png") no-repeat center center;
      transition: all 0.2s ease-out;
    }
    &_active {
      &:after {
        transform: rotate(180deg);
      }
    }
  }
  .y-aside__subtitle {
    margin-top: 30px;
  }
  .y-aside__nav > li > a {
    margin-bottom: 15px;
  }
  .y-tags {
    padding: 20px 0 30px 0;
    &__title {
      margin-bottom: 10px;
      font-size: 26px;
      text-align: center;
    }
  }
  .y-tags-card {
    margin: 0 8px 8px 0;
    padding: 7px 14px;
    font-size: 12px;
  }
  .y-seo {
    padding: 400px 0 10px 0;
    background: #ebeff3 url("../images/mob_seo_bg_1.png") no-repeat 0 0;
    background-size: 100% auto;
  }
  .y-seo__title {
    margin-bottom: 20px;
    font-size: 26px;
  }
  .y-seo__text {
    margin-bottom: 20px;
    font-size: 14px;
  }
  .y-page-header {
    text-align: center;
    &__title {
      width: 100%;
    }
  }
  .y-page-header__search {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .y-page-header__search input {
    width: 100%;
    margin: 30px 0 20px 0;
  }
  .y-page-header__search button {
    width: 100%;
  }
  .y-pagination {
    justify-content: center;
    padding: 25px 0 50px 0;
  }
  .y-modal {
    background: #ffffff;
    &__content {
      box-shadow: none;
    }
  }
  .y-opt__image {
    width: 100%;
    height: 400px;
  }
  .y-opt {
    padding: 440px 0 40px 0;
  }
  .y-opt__title {
    margin-bottom: 25px;
    font-size: 30px;
    text-align: center;
  }
  .y-opt__subtitle {
    font-size: 26px;
  }
  .y-opt__text {
    font-size: 14px;
  }
  .y-opt__button {
    width: 100%;
    margin: 30px 0 0 0;
  }
  .y-opt-features {
    padding-bottom: 50px;
  }
  .y-opt-features-card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  .y-opt-features-card__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .y-opt-goods-card {
    min-height: 340px;
    margin-bottom: 50px;
    padding: 25px 20px;
    &__image {
      height: 170px;
    }
  }
  .y-opt-goods-card__title {
    font-size: 20px;
  }
  .y-opt-many__image {
    left: 0;
    top: 0;
    width: 100%;
    height: 260px;
    background-position: center center;
    background-size: contain;
  }
  .y-opt-many {
    padding-top: 260px;
  }
  .y-opt-many__title {
    font-size: 26px;
  }
  .y-opt-many__text {
    font-size: 14px;
  }
  .y-opt-why {
    padding: 50px 0 30px 0;
    &-card {
      margin-bottom: 20px;
    }
  }
  .y-opt-why-card__title {
    margin-left: 12px;
  }
  .y-opt-article {
    padding: 360px 0 10px 0;
    &__image {
      width: 100%;
      height: 330px;
    }
  }
  .y-opt-article__title {
    font-size: 26px;
  }
  .y-opt-article__text {
    font-size: 14px;
  }
  .y-opt-article__subtitle {
    font-size: 20px;
  }
  .y-pay {
    padding: 440px 0 20px 0;
    &__image {
      width: 100%;
      height: 400px;
    }
  }
  .y-pay__title {
    font-size: 26px;
  }
  .y-pay__text {
    font-size: 14px;
  }
  .y-pay-cards {
    padding: 35px 0 5px 0;
    ul {
      li {
        font-size: 14px;
      }
    }
  }
  .y-pay-cards__title {
    font-size: 20px;
    br {
      display: none;
    }
  }
  .y-pay-cards-card__row {
    padding: 15px 0 0 0;
    font-size: 14px;
  }
  .y-pay-seo {
    padding: 440px 0 20px 0;
    &__image {
      width: 100%;
      height: 400px;
    }
    &__title {
      font-size: 26px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .y-pay-seo ul li {
    font-size: 14px;
  }
  .y-about {
    padding: 440px 0 20px 0;
    &__image {
      width: 100%;
      height: 400px;
    }
    &__title {
      font-size: 26px;
    }
    &__text {
      font-size: 14px;
    }
  }
  .y-about-seo {
    padding: 20px 0;
    img,
    svg {
      max-width: 100px;
      margin: 0 auto 30px auto;
    }
    &__text {
      font-size: 14px;
    }
  }
  .y-about-seo__button {
    width: 100%;
    margin-top: 20px;
  }
  .y-about-info {
    padding: 40px 0 10px 0;
  }
  .y-about-info-card__number {
    margin: 0;
  }
  .y-good {
    padding-top: 85px;
    .y-aside {
      display: none;
    }
  }
  .y-good__image {
    width: 100%;
    height: 300px;
  }
  .y-good__title {
    min-height: auto;
    font-size: 30px;
    text-align: center;
  }
  .y-good__row {
    justify-content: center;
  }
  .y-good__button {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px 0 0 0;
    padding: 16px;
  }
  .y-tabs__header {
    justify-content: space-between;
  }
  .y-tabs__header li {
    margin-right: 0;
  }
  .y-tabs__title {
    font-size: 26px;
  }
  .y-tabs__content {
    font-size: 14px;
  }
  .y-more__title {
    margin-bottom: 20px;
    font-size: 26px;
    text-align: center;
  }
  .y-basket {
    display: block;
    padding: 0;
  }
  .y-basket__header {
    display: none;
  }
  .y-basket-card {
    margin: 0;
    padding: 20px 0;
    border-bottom: 1px solid #9b9b9b;
    border-radius: 0;
    box-shadow: none;
  }
  .y-basket-card__input {
    width: auto;
    max-width: 40px;
  }
  .y-more .swiper-button-next,
  .y-more .swiper-button-prev {
    display: none;
  }
  .y-basket-card__image {
    width: 80px;
    min-height: auto;
    height: 50px;
    border-radius: 5px;
  }
  .y-basket-card__title {
    margin: 0;
    color: #000000;
    font-size: 14px;
  }
  .y-basket-card__text {
    display: none;
  }
  .y-basket-card__delete {
    top: 40px;
    right: 0;
    margin: 0;
  }
  .y-basket-card__counter {
    margin-top: 30px;
  }
  .y-basket-card__hide {
    display: none;
  }
  .y-basket__input {
    width: 100%;
    max-width: 100%;
  }
  .y-basket__button {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .y-basket__finish {
    width: 100%;
    margin: 20px 0 0 0;
  }
  .y-basket__price {
    width: 100%;
    margin: 40px 0 0 0;
    text-align: center;
  }
  .y-swiper {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: visible !important;
  }
  .y-more {
    .swiper-slide {
      width: auto !important;
    }
  }
  .y-basket {
    width: 100%;
    overflow: hidden;
  }
  .y_order_1 {
    order: -1;
  }
  .y-list {
    padding: 0 0 20px 0;
    box-shadow: none;
    &-card {
      border-bottom: 1px solid #9b9b9b;
      &__info {
        position: absolute;
        bottom: 0;
        left: 50px;
        text-align: center;
      }
      &__price {
        position: absolute;
        right: 20px;
        bottom: 0;
      }
    }
  }
  .y-list-card__title {
    height: 32px;
    overflow: hidden;
    margin-left: 20px;
    margin-bottom: 18px;
  }
  .y-list__wrapper {
    padding: 5px 0;
  }
  .y-list__price {
    text-align: center;
  }
  .y-order__link {
    display: block;
    width: 100%;
    margin: 12px 0 0 0;
  }
  .y-order__header {
    font-size: 20px;
  }
  .y-order__radio > div {
    font-size: 14px;
  }
  .y-order__button {
    width: 100%;
  }
  .y-order {
    padding-bottom: 50px;
  }
  #map {
    position: relative;
    width: 100%;
    height: 550px;
  }
  .y-contacts {
    margin: 0;
    padding: 85px 0 0 0;
  }
  .y-contacts__title {
    font-size: 30px;
    text-align: center;
  }
  .y-contacts__what {
    font-size: 24px;
    text-align: center;
  }
  .y-contacts__label {
    margin-top: 24px;
  }
  .y-contacts__link {
    margin: 30px 0;
  }
  .y-contacts__button {
    width: 100%;
    margin-bottom: 40px;
  }
  .y-page-header__select select {
    width: 100%;
    margin-bottom: 20px;
  }
  .y-tags__cards {
    justify-content: center;
  }
  .y-tags-card {
    margin: 0 4px 8px 4px;
  }
  .y-list__title {
    position: relative;
    &:after {
      display: block;
      position: absolute;
      content: "";
      top: 50%;
      right: 0;
      width: 11px;
      height: 7px;
      margin-top: -5px;
      background: url("../images/icon_select_arrow.png") no-repeat center center;
      z-index: 3;
      transition: all 0.2s ease-out;
    }
    &_active {
      &:after {
        transform: rotate(180deg);
      }
    }
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;
    &:hover {
      text-decoration: none;
    }
  }
  .y-list__cards {
    display: none;
  }
  .y-list__wrapper {
    display: none;
    margin-top: -1px;
  }
  .y_mob_hide {
    display: none;
  }
  .y-footer__link {
    &:hover,
    &:focus {
      color: #a2d109 !important;
    }
  }
  .y-home-customers__cards {
    max-width: 180px;
    margin: 0 auto;
  }
  .y-home-customers .swiper-wrapper {
    transition-timing-function: linear !important;
  }
  #bar {
    display: none;
  }
  .y-footer__nav {
    margin-top: 0;
  }
  .y-basket-card__oldprice {
    display: block;
    margin-top: 28px;
  }
  .y-basket-card__hide {
    display: none;
  }

  .y-basket-card_mob_right {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
  }
  .y-footer__nav {
    margin: 0;
    padding: 0;
    br {
      display: none;
    }
  }
}
